<div class="container">
  <div class="row">
    <div class="col-md-12">
      {{page-room-detail room=model.room hotel=model.hotel}}
      {{page-room-select-hotel hotel=model.hotel}}
    </div>
  </div>
</div>
