<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3> Bem vindo ao treinamento ember-data 2017 Sciensa</h3>
      <p>Neste treinamento você irá aprender.</p>
      <ul>
        <li>Modelagem de uma model</li>
        <li>Conceito application</li>
        <li>Componentização de elementos HTML</li>
        <li>Requisições HTTP com this.store.</li>
        <li>Como usar os Adapters e porque</li>
        <li>Serializers quando usar</li>
        <li>Multiplas requisições ember route, quando usar o RSVP.</li>
        <li>Como trabalhar com os dados já populados em uma model</li>
      </ul>
    </div>
  </div>
</div>
